body {
    background: url(../images/login.jpeg);
    color: #fff;
    background-size: auto auto;
}

#login_div {
	background: #9b909060;
	text-align: center;
	border-radius: 10px;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -400px;
}

#login_div h1 {
    padding-top: 40px;;
}

#username {
    padding: 40px;
}

#userpassword {
    padding: 40px;
}

#username input {
    border: 0;
	width: 50%;
	font-size: 15px;
	color: #fff;
	background: #dac4c490;
	border-bottom: 2px solid #aef30d;
	padding: 5px 10px;
	margin-top: 10px;
}

#userpassword input {
    border: 0;
	width: 50%;
	font-size: 15px;
	color: #fff;
	background: #ec929290;
	border-bottom: 2px solid #aef30d;
	padding: 5px 10px;
	margin-top: 10px;
    margin-bottom: 20px;;
}

#button input {
    width: 150px;
    height: 30px;
    margin: 20px;
    border: 2px;
    border-radius: 20px;
    padding-left: 10px;
}